<dialog data-dynamic="true" id="vault-pass-dialog">
    {{ if . }}
    <h3>Set Vault Password</h3>
    {{ else }}
    <h3>Enter Vault Password</h3>
    {{ end }}
    <hr>
    <label for="vault-pass">Password:</label>
    <input id="vault-pass" type="password">
    <br><br>
    {{ if . }}
    <span class="small-text">
        Note: Requires entering the unique password every time Vault is opened.<br>
        This password is unique per session -- you can always log out and log back
        in if you lose the Vault password.
    </span>
    <br><br>
    {{ end }}
    <div class="align-items-right">
        <button id="cancel-pass">Cancel</button>
        <button id="submit-pass" class="accent-btn">Confirm</button>
    </div>
</dialog>