.idea
notes.txt
yeetfile
yeetfile-server*
*.enc
test.sh
lipsum-big.txt
session*
!session.go
!backend/server/session
*.env*
!template.env
!.tests.env
*.swp
tags
uploads/
.cache/
debug.log
out/
venv/
reports/
node_modules/
.pytest_cache/
__pycache__
*test_*.txt
*._*
*.pem
upgrades.json

# Kamal
.kamal
config/*
!config/deploy.yml
!config/deploy.template.yml
