{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
  <h1>Account</h1>
  <hr class="accent-hr">
  <div>
    <table>
      <tr>
        <td>
          <label for="email">Email:</label>
        </td>
        <td>
          {{ if ne .Email "" }}
            <span id="email">{{ .Email }}</span>
          {{ else }}
            <span id="email">None</span>
          {{ end }}
        </td>
      </tr>
      <tr>
        <td>
          <label for="meter">Send:</label>
        </td>
        <td>
          <span id="meter">{{ .ReadableMeter }} remaining</span>
        </td>
      </tr>
      <tr>
        <td>
          <label for="subscription">Subscription:</label>
        </td>
        <td>
          {{ if .IsActive }}
          <span id="subscription">Active (expires {{ .ExpString }})</span>
          {{ else }}
          <span id="subscription">Inactive</span>
          {{ end }}
        </td>
      </tr>
      <tr>
        <td>
          <label for="actions">Actions:</label>
        </td>
        <td>
          <span id="actions"><a id="logout-btn" class="red-link" href="#">Log Out</a></span>
        </td>
      </tr>
    </table>
    <details>
      <summary>Advanced</summary>
      <table>
        <tr>
          <td>Payment ID:</td>
<!--          <td>{{ .PaymentID }} — <a id="recycle-payment-id" href="#">Recycle</a></td>-->
          <td>{{ .PaymentID }}</td>
        </tr>
      </table>
    </details>
  </div>
  {{ template "messages.html" . }}
  <hr>
  <h1>Memberships</h1>
  <div id="subscription-div">
    {{ if .IsActive }}
    <div class="pricing-box">
      <h3>YeetFile Membership</h3>
      <p>You're a member! You can renew or update your membership on {{ .ExpString }}.</p>
    </div>
    {{ else }}
    <div class="pricing-box col-1">
      <h3>Novice Yeeter</h3>
      <ul>
        <li>5GB storage</li>
        <li>10GB/month transfer</li>
      </ul>
      <a href="/checkout?type={{ .Membership3Months }}&payment_id={{ .PaymentID }}"><button class="stripe-btn">Purchase</button></a>
      <a href="/checkout-btc?type={{ .Membership3Months }}&payment_id={{ .PaymentID }}"><button class="btcpay-btn">Use BTCPay</button></a>
    </div>
    <div class="pricing-box col-2">
      <h3>Advanced Yeeter</h3>
      <ul>
        <li>100GB storage</li>
        <li>200GB/month transfer</li>
      </ul>
      <a href="/checkout?type={{ .Membership1Year }}&payment_id={{ .PaymentID }}"><button class="stripe-btn">Purchase</button></a>
      <a href="/checkout-btc?type={{ .Membership1Year }}&payment_id={{ .PaymentID }}"><button class="btcpay-btn">Use BTCPay</button></a>
    </div>
    {{ end }}
  </div>
  <hr>
  <h1>Upgrades</h1>
  <div id="upgrade-div">
    <div class="pricing-box col-1">
      <h3>+100GB Send</h3>
      <p>Increase available send amount by 100 gigabytes</p>
      <a href="/checkout?type={{ .Upgrade100GB }}&payment_id={{ .PaymentID }}"><button class="stripe-btn">Checkout │ $19</button></a>
      <br>or<br>
      <a href="/checkout-btc?type={{ .Upgrade100GB }}&payment_id={{ .PaymentID }}"><button class="btcpay-btn">Use BTCPay</button></a>
    </div>

    <div class="pricing-box col-2">
      <h3>+500GB Send</h3>
      <p>Increase available send amount by 500 gigabytes</p>
      <a href="/checkout?type={{ .Upgrade500GB }}&payment_id={{ .PaymentID }}"><button class="stripe-btn">Checkout │ $79</button></a>
      <br>or<br>
      <a href="/checkout-btc?type={{ .Upgrade500GB }}&payment_id={{ .PaymentID }}"><button class="btcpay-btn">Use BTCPay</button></a>
    </div>

    <div class="pricing-box col-3">
      <h3>+1TB Send</h3>
      <p>Increase available send amount by 1 terabyte</p>
      <a href="/checkout?type={{ .Upgrade1TB }}&payment_id={{ .PaymentID }}"><button class="stripe-btn">Checkout │ $149</button></a>
      <br>or<br>
      <a href="/checkout-btc?type={{ .Upgrade1TB }}&payment_id={{ .PaymentID }}"><button class="btcpay-btn">Use BTCPay</button></a>
    </div>
  </div>
  <br>
  <span class="italic">Note: Send upgrades don't require an active membership, and they don't expire.</span>
</div>
{{ template "footer.html" . }}
</body>