{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
  <h1>Account</h1>
  <hr>
  <div>
    <table>
      <tr>
        <td>
          <label for="email">Email:</label>
        </td>
        <td>
          {{ if ne .Email "" }}
            <span id="email">{{ .Email }}</span>
          {{ else }}
            <span id="email">None</span>
          {{ end }}
        </td>
      </tr>
      <tr>
        <td>
          <label for="subscription">Subscription:</label>
        </td>
        <td>
          {{ if .IsActive }}
          <span id="subscription">Active (expires {{ .ExpString }})</span>
          {{ else }}
          <span id="subscription">Inactive</span>
          {{ end }}
        </td>
      </tr>
      <tr>
        <td>
          <label for="meter">Remaining Transfer:</label>
        </td>
        <td>
          <span id="meter">{{ .ReadableMeter }}</span>
        </td>
      </tr>
    </table>
  </div>
  {{ template "messages.html" . }}
  <hr>
  <h1>Memberships</h1>
  <div id="subscription-div">
    {{ if .IsActive }}
    <div class="pricing-box">
      <h3>YeetFile Membership</h3>
      <p>You're a member! You can renew or update your membership on {{ .ExpString }}.</p>
    </div>
    {{ else }}
    <div class="pricing-box col-1">
      <h3>YeetFile 1-Month Membership</h3>
      <p>Send unlimited text and up to 5GB of files for 1 month.</p>
      <a href="/checkout?type=sub1m&payment_id={{ .PaymentID }}"><button>Checkout │ $2</button></a>
      or
      <a href="/checkout-btc?type=sub1m&payment_id={{ .PaymentID }}"><button class="btcpay-btn">Use BTCPay</button></a>
    </div>
    <div class="pricing-box col-2">
      <h3>YeetFile 1-Year Membership</h3>
      <p>Send unlimited text and up to 5GB of files each month for less than $1 per month.</p>
      <a href="/checkout?type=sub1y&payment_id={{ .PaymentID }}"><button>Checkout │ $9</button></a>
      or
      <a href="/"><button class="btcpay-btn">Use BTCPay</button></a>
    </div>
    {{ end }}
  </div>
  <hr>
  {{ if .IsActive }}
  <h1>Upgrades</h1>
  {{ else }}
  <h1>Upgrades (requires membership)</h1>
  {{ end }}
  <div id="upgrade-div">
    <div class="pricing-box col-1">
      <h3>+100GB Transfer</h3>
      <p>Increase available transfer amount by 100 gigabytes</p>
      {{ if .IsActive }}
      <a href="/checkout?type=100gb&payment_id={{ .PaymentID }}"><button>Checkout │ $19</button></a>
      <br>or<br>
      <a href="/"><button class="btcpay-btn">Use BTCPay</button></a>
      {{ else }}
      <button disabled>Checkout │ $19</button>
      <br>or<br>
      <button class="btcpay-btn" disabled>Use BTCPay</button>
      {{ end }}
    </div>

    <div class="pricing-box col-2">
      <h3>+500GB Transfer</h3>
      <p>Increase available transfer amount by 500 gigabytes</p>
      {{ if .IsActive }}
      <a href="/checkout?type=500gb&payment_id={{ .PaymentID }}"><button>Checkout │ $79</button></a>
      <br>or<br>
      <a href="/"><button class="btcpay-btn">Use BTCPay</button></a>
      {{ else }}
      <button disabled>Checkout │ $79</button>
      <br>or<br>
      <button class="btcpay-btn" disabled>Use BTCPay</button>
      {{ end }}
    </div>

    <div class="pricing-box col-3">
      <h3>+1TB Transfer</h3>
      <p>Increase available transfer amount by 1 terabyte</p>
      <a href="/checkout?type=1tb&payment_id={{ .PaymentID }}"><button>Checkout │ $149</button></a>
      <br>or<br>
      <a href="/"><button class="btcpay-btn">Use BTCPay</button></a>
    </div>
  </div>
  <br>
  <span class="italic">Note: Transfer upgrades don't require a membership, and they never expire.</span>
</div>
{{ template "footer.html" . }}
</body>