{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<script src="/StreamSaver.js"></script>
<div id="center-div">
    <h1>Download</h1>
    <hr>
    <span id="loading">Loading...</span>
    <div id="download-prompt-div">
        <table>
            <tr>
                <td>
                    <label for="name">Name:</label>
                </td>
                <td>
                    <span id="name"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="size">Size:</label>
                </td>
                <td>
                    <span id="size"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="expiration">Expires:</label>
                </td>
                <td>
                    <span id="expiration"></span>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    <label for="downloads">Downloads Remaining:</label>
                </td>
                <td>
                    <span id="downloads"></span>
                </td>
            </tr>
        </table>

        <button id="download-nopass" value="Download">Download</button>
    </div>
    <fieldset id="download-fieldset">
        <div id="password-prompt-div">
            <table>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <input id="password" type="password">
                    </td>
                </tr>
            </table>

            <button id="submit" value="Submit">Submit</button>
        </div>
    </fieldset>

    <div id="plaintext-div">
        <hr>
        <p id="plaintext-content"></p>
    </div>
</div>
{{ template "footer.html" }}
</body>