<div class="footer">
    <div class="footer-elements">
        <a href="https://meddlehead.com"><img src="/static/img/{{ .Base.Config.Version }}/meddlehead-logo.png"></a>
        <a href="https://docs.yeetfile.com/privacy">Privacy Policy</a>
        <a href="https://docs.yeetfile.com/terms">Terms of Service</a>
        <a href="https://docs.yeetfile.com/faq">FAQ</a>
        <a href="https://github.com/meddlehead/yeetfile">Source Code</a>
    </div>
    <div class="footer-elements">
        <span class="small-text">v{{ .Base.Config.Version }}</span>
    </div>
</div>