{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
    <h1>Create Account</h1>
    <hr>
    <input type="radio" id="email-signup" name="signup" checked>
    <label for="email-signup">Email + Password</label><br>
    <input type="radio" id="id-signup" name="signup">
    <label for="id-signup">Account ID Only</label><br>
    <hr>
    <div id="email-div">
        <form method="post" id="email-signup-form" action="/signup">
            <input type="text" id="email" name="email" placeholder="Email"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="password" id="confirm-password" placeholder="Confirm Password"><br>

            <input type="submit" id="create-email-account" value="Create Account"/>
        </form>
    </div>
    <div id="account-id-div">
        <p>Note: By signing up with an account number only, you will be unable to recover
        your account if you ever lose your account number.</p>

        <input type="password" id="account-password" name="password" placeholder="Password"><br>
        <input type="password" id="account-confirm-password" placeholder="Confirm Password"><br>
        <input type="submit" id="create-id-only-account" value="Create Account">

        <div id="account-id-verify">
        </div>
    </div>

    {{ template "messages.html" . }}
</div>
{{ template "footer.html" . }}
</body>