{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
    <h1>Upload</h1>
    <hr>
    <form id="upload-form">
        <fieldset id="form-fieldset">
            <div id="upload-type-div">
                <input type="radio" id="upload-text-btn" name="signup" checked>
                <label for="upload-text-btn">Upload Text</label><br>
                {{ if .Base.LoggedIn }}
                <input type="radio" id="upload-file-btn" name="signup">
                <label for="upload-file-btn">Upload File(s)</label><br>
                {{ else }}
                <input type="radio" id="upload-file-btn" name="signup" disabled>
                <label for="upload-file-btn">Upload File (<a href="/signup">sign up</a>
                    or <a href="/login">log in</a>)</label><br>
                {{ end }}
            </div>

            <table class="full-width">
                <tr id="upload-text-row">
                    <td>
                        {{ if .Base.LoggedIn }}
                        <label for="upload-text-content">Text:</label>
                        {{ else }}
                        <label id="upload-text-label" for="upload-text-content">Text (0/1000):</label>
                        {{ end }}
                    </td>
                    <td>
                        <textarea id="upload-text-content" class="full-width" maxlength="1000"></textarea>
                    </td>
                </tr>
                <tr id="upload-file-row">
                    <td>
                        <label for="upload">File(s):</label>
                    </td>
                    <td>
                        <input id="upload" type="file" webkitdirectory multiple>
                    </td>
                </tr>
                <tr style="display: none;" id="name-div">
                    <td>
                        <label for="name">Name:</label>
                    </td>
                    <td>
                        <input id="name" type="text" value="My Files">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="downloads">Downloads:</label>
                    </td>
                    <td>
                        <input id="downloads" type="number" value="1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="expiration">Expiration:</label>
                    </td>
                    <td>
                        <input id="expiration" type="number">
                        <select id="duration-unit">
                            <option selected>Minutes</option>
                            <option>Hours</option>
                            <option>Days</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="use-password">Protect with password:</label>
                    </td>
                    <td>
                        <input type="checkbox" id="use-password" role="button">
                    </td>
                </tr>
            </table>

            <div id="password-div">
                <hr>
                <table>
                    <tr>
                        <td>
                            <label for="password">Password:</label>
                        </td>
                        <td>
                            <input id="password" autocomplete="off" type="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="confirm-password">Confirm Password:</label>
                        </td>
                        <td>
                            <input id="confirm-password" autocomplete="off" type="password">
                        </td>
                    </tr>
                </table>
            </div>

        </fieldset>

        <input id="submit" type="submit" value="Upload"/>
        <input id="reset" type="reset" value="Reset"/>

        <div id="file-tag-div">
            <hr>
            <span>File Tag: </span>
            <span id="file-tag"></span><br>

            <span>Link: </span>
            <a id="file-link" href=""></a>
        </div>
    </form>
</div>
{{ template "footer.html" }}
</body>
