{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div class="auto-width" id="center-div">
  <h1>Account</h1>
  <hr class="accent-hr">
  <div class="account-div">
    <table class="account-table">
      {{ if .EmailConfigured }}
      <tr>
        <td>
          <label class="slightly-bold-text">Email:</label>
        </td>
        <td>
          {{ if ne .Email "" }}
            <span>{{ .Email }}</span> — <a id="change-email" href="#">Change Email</a>
          {{ else }}
            <span>None</span> — <a id="set-email" href="#">Set Email</a>
          {{ end }}
        </td>
      </tr>
      {{ end }}
      <tr>
        <td>
          <label class="slightly-bold-text">Vault:</label>
        </td>
        <td>
          <span>
            {{ .StorageUsed }} / {{ .StorageAvailable }}
            {{ if .IsActive }}
              <br>(expires {{ .ExpString }})
            {{ else if .IsPrevUpgraded }}
              <br>(expired {{ .ExpString }})
            {{ end }}
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <label class="slightly-bold-text">Send:</label>
        </td>
        <td>
          <span>{{ .SendUsed }} / {{ .SendAvailable }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <label class="slightly-bold-text">2FA:</label>
        </td>
        <td>
          {{ if .Has2FA }}
          <span class="green-text">Enabled</span> — <a id="disable-2fa" href="#">Disable</a>
          {{ else }}
          <span class="red-text">Not Set</span> — <a href="{{ .Base.Endpoints.TwoFactor }}">Enable</a>
          {{ end }}
        </td>
      </tr>
      {{ if ne .Email "" }}
      <tr>
        <td>
          <label class="slightly-bold-text">Password Hint:</label>
        </td>
        <td>
          {{ if .HasPasswordHint }}
          <span class="green-text">Enabled</span> — <a href="{{ .Base.Endpoints.ChangeHint }}">Update / Disable</a>
          {{ else }}
          <span class="red-text">Not Set</span> — <a href="{{ .Base.Endpoints.ChangeHint }}">Enable</a>
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </table>
    {{ if .IsAdmin }}
    <a class="no-underline" href="{{ .Base.Endpoints.Admin }}">
      <button id="admin-btn" class="accent-btn">Admin Console</button>
    </a><br>
    {{ end }}
    {{ if or .Base.Config.StripeEnabled .Base.Config.BTCPayEnabled }}
    <a class="no-underline" href="{{ .Base.Endpoints.Upgrade }}">
      <button id="upgrade-btn" class="accent-btn">Upgrade</button>
    </a><br>
    {{ end }}
    <button id="change-pw-btn">Change Password</button><br>
    <button data-testid="logout-btn" id="logout-btn">Log Out</button>
    <details>
      <summary data-testid="advanced-summary">Advanced</summary>
      <table>
        <tr>
          <td class="slightly-bold-text">Payment ID:</td>
          <td>{{ .PaymentID }} — <a id="recycle-payment-id" href="#">Recycle</a></td>
        </tr>
      </table>
      <br>
      <button data-testid="delete-btn" id="delete-btn" class="red-button">Delete Account</button>
    </details>
  </div>
  <script src="/static/js/messages.js"></script>
  {{ if ne .ErrorMessage "" }}
  <div class="important-message" id="messages">
    <hr>
    <p id="error-message">{{ .ErrorMessage }}</p>
    <p id="success-message"></p>
  </div>
  {{ else if ne .SuccessMessage "" }}
  <div class="important-message" id="messages">
    <hr>
    <p id="error-message"></p>
    <p id="success-message">{{ .SuccessMessage }}</p>
  </div>
  {{ else }}
  <div id="messages">
    <hr>
    <p id="error-message"></p>
    <p id="success-message"></p>
  </div>
  {{ end }}
</div>

{{ template "two-factor-dialog.html" }}

{{ template "footer.html" . }}
</body>