{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
  <h1>Account</h1>
  <hr class="accent-hr">
  <div>
    <table>
      <tr>
        <td>
          <label>Email:</label>
        </td>
        <td>
          {{ if ne .Email "" }}
            <span>{{ .Email }}</span>
          {{ else }}
            <span>None</span>
          {{ end }}
        </td>
      </tr>
      <tr>
        <td>
          <label>Vault:</label>
        </td>
        <td>
          <span>{{ .StorageUsed }} / {{ .StorageAvailable }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <label>Send:</label>
        </td>
        <td>
          <span>{{ .SendUsed }} / {{ .SendAvailable }} / month</span>
        </td>
      </tr>
      {{ if .BillingConfigured }}
      <tr>
        <td>
          <label>Subscription:</label>
        </td>
        <td>
          {{ if .IsActive }}
          <span>Active (expires {{ .ExpString }})</span>
          {{ else }}
          <span>Inactive</span>
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </table>
    <button id="change-pw-btn">Change Password</button> <button id="logout-btn">Log Out</button>
    <details>
      <summary>Advanced</summary>
      <table>
        <tr>
          <td>Payment ID:</td>
<!--          <td>{{ .PaymentID }} — <a id="recycle-payment-id" href="#">Recycle</a></td>-->
          <td>{{ .PaymentID }}</td>
        </tr>
      </table>
      <br>
      <button id="delete-btn" class="red-button">Delete Account</button>
    </details>
  </div>
  {{ template "messages.html" . }}
  {{ if or .StripeConfigured .BTCPayConfigured }}
    <hr>
    <div class="subscription-container">
      <h1>Subscriptions</h1>
      {{ if not .IsStripeUser }}
        <div class="radio-group">
          <input type="radio" id="monthly-option" name="options" {{ if not .IsYearly }}checked{{ end }}>
          <label id="monthly-toggle" for="monthly-option"><a href="/account">Monthly</a></label>
          <input type="radio" id="yearly-option" name="options" {{ if .IsYearly }}checked{{ end }}>
          <label id="yearly-toggle" for="yearly-option"><a href="/account?yearly=1">Yearly (2 months free)</a></label>
        </div>
      {{ end }}
    </div>
    {{ if .Base.Config.BillingEnabled }}
      <div id="subscription-div">
        {{ if and .IsActive .IsStripeUser }}
        <div class="pricing-box">
          <h3>YeetFile Subscription</h3>
          <p>You're a subscriber! You can upgrade, downgrade, or cancel your subscription
            <a href="/manage-sub">here</a>.</p>
        </div>
        {{ else }}
        <div class="pricing-box col-1">
          <h3>Novice Yeeter</h3>
          <ul>
            <li>{{ .SubscriptionTemplate.NoviceStorage }}GB vault storage</li>
            <li>{{ .SubscriptionTemplate.NoviceSend }}GB/month send</li>
          </ul>
          {{ if .IsYearly }}
          <span><b>${{ .SubscriptionTemplate.YearlyNovicePrice }}/year</b></span><br>
            {{ if .StripeConfigured }}
            <a href="/checkout?type={{ .SubscriptionTemplate.YearlyNovice }}&payment_id={{ .PaymentID }}">
              <button class="stripe-btn payment-btn">Purchase</button>
            </a><br class="mobile-only">
            {{ end }}
            {{ if .BTCPayConfigured }}
            <a href="/checkout-btc?type={{ .SubscriptionTemplate.YearlyNovice }}&payment_id={{ .PaymentID }}">
              {{ template "btcpay-button.html" }}
            </a>
            {{ end }}
          {{ else }}
          <span><b>${{ .SubscriptionTemplate.MonthlyNovicePrice }}/month</b></span><br>
            {{ if .StripeConfigured }}
            <a href="/checkout?type={{ .SubscriptionTemplate.MonthlyNovice }}&payment_id={{ .PaymentID }}">
              <button class="stripe-btn payment-btn">Purchase</button>
            </a><br class="mobile-only">
            {{ end }}
            {{ if .BTCPayConfigured }}
            <a href="/checkout-btc?type={{ .SubscriptionTemplate.MonthlyNovice }}&payment_id={{ .PaymentID }}">
              {{ template "btcpay-button.html" }}
            </a>
            {{ end }}
          {{ end }}
        </div>
        <div class="pricing-box col-2">
          <h3>Regular Yeeter</h3>
          <ul>
            <li>{{ .SubscriptionTemplate.RegularStorage}}GB storage</li>
            <li>{{ .SubscriptionTemplate.RegularSend }}GB/month send</li>
          </ul>
          {{ if .IsYearly }}
          <span><b>${{ .SubscriptionTemplate.YearlyRegularPrice }}/year</b></span><br>
            {{ if .StripeConfigured }}
            <a href="/checkout?type={{ .SubscriptionTemplate.YearlyRegular }}&payment_id={{ .PaymentID }}">
              <button class="stripe-btn payment-btn">Purchase</button>
            </a><br class="mobile-only">
            {{ end }}
            {{ if .BTCPayConfigured }}
            <a href="/checkout-btc?type={{ .SubscriptionTemplate.YearlyRegular }}&payment_id={{ .PaymentID }}">
              {{ template "btcpay-button.html" }}
            </a>
            {{ end }}
          {{ else }}
          <span><b>${{ .SubscriptionTemplate.MonthlyRegularPrice }}/month</b></span><br>
            {{ if .StripeConfigured }}
            <a href="/checkout?type={{ .SubscriptionTemplate.MonthlyRegular }}&payment_id={{ .PaymentID }}">
              <button class="stripe-btn payment-btn">Purchase</button>
            </a><br class="mobile-only">
            {{ end }}
            {{ if .BTCPayConfigured }}
            <a href="/checkout-btc?type={{ .SubscriptionTemplate.MonthlyRegular }}&payment_id={{ .PaymentID }}">
              {{ template "btcpay-button.html" }}
            </a>
            {{ end }}
          {{ end }}
        </div>
        <div class="pricing-box col-3">
          <h3>Advanced Yeeter</h3>
          <ul>
            <li>{{ .SubscriptionTemplate.AdvancedStorage }}GB storage</li>
            <li>{{ .SubscriptionTemplate.AdvancedSend }}GB/month transfer</li>
          </ul>
          {{ if .IsYearly }}
          <span><b>${{ .SubscriptionTemplate.YearlyAdvancedPrice }}/year</b></span><br>
            {{ if .StripeConfigured }}
            <a href="/checkout?type={{ .SubscriptionTemplate.YearlyAdvanced }}&payment_id={{ .PaymentID }}">
              <button class="stripe-btn payment-btn">Purchase</button>
            </a><br class="mobile-only">
            {{ end }}
            {{ if .BTCPayConfigured }}
            <a href="/checkout-btc?type={{ .SubscriptionTemplate.YearlyAdvanced }}&payment_id={{ .PaymentID }}">
              {{ template "btcpay-button.html" }}
            </a>
            {{ end }}
          {{ else }}
          <span><b>${{ .SubscriptionTemplate.MonthlyAdvancedPrice }}/month</b></span><br>
            {{ if .StripeConfigured }}
            <a href="/checkout?type={{ .SubscriptionTemplate.MonthlyAdvanced }}&payment_id={{ .PaymentID }}">
              <button class="stripe-btn payment-btn">Purchase</button>
            </a><br class="mobile-only">
            {{ end }}
            {{ if .BTCPayConfigured }}
            <a href="/checkout-btc?type={{ .SubscriptionTemplate.MonthlyAdvanced }}&payment_id={{ .PaymentID }}">
              {{ template "btcpay-button.html" }}
            </a>
            {{ end }}
          {{ end }}
        </div>
        {{ end }}
      </div>
    <br>
      {{ if not .IsStripeUser }}
        <span class="italic">Note: BTCPay subscriptions do not auto-renew, and can take up to 10-15 minutes to settle.</span>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
{{ template "footer.html" . }}
</body>