{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
  <h1>Change Email</h1>
  <hr>
  <fieldset id="input-fields">
    <table>
      <tr>
        {{ if ne .CurrentEmail "" }}
        <td><label for="identifier">Current Email:</label></td>
        <td><input type="text" id="identifier" disabled value="{{ .CurrentEmail }}"></td>
        {{ else }}
        <td><label for="identifier">Account ID:</label></td>
        <td><input type="text" id="identifier"></td>
        {{ end }}
      </tr>
      <tr>
        <td><label for="password">Current Password:</label></td>
        <td><input type="password" id="password"></td>
      </tr>
    </table>
    <hr>
    <table>
      <tr>
        <td><label for="new-email">New Email:</label></td>
        <td><input type="text" id="new-email"></td>
      </tr>
    </table>
  </fieldset>
  {{ if ne .CurrentEmail "" }}
  <input type="submit" id="change-email-btn" value="Change Email"/>
  {{ else }}
  <input type="submit" id="change-email-btn" value="Set Email"/>
  <p class="small-text">Note: Once set, you will need to log in using your email instead of your account ID.</p>
  {{ end }}
  {{ template "messages.html" . }}
</div>
{{ template "footer.html" . }}
</body>