{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
    <h1>Set Password Hint</h1>
    <hr>
    <p>Set a new password hint below, or leave blank to disable.</p>
    <label for="password-hint">Password Hint:</label>
    <input style="max-width: 80%; width: 100%;" id="password-hint" type="text" placeholder="Hint..."><br>
    <input style="margin-left: 0;" type="submit" id="submit-pw-hint" value="Set Password Hint"/>

    {{ template "messages.html" . }}
</div>

{{ template "footer.html" . }}
</body>