<div class="footer">
    <div class="footer-elements footer-row">
        <a id="meddlehead-link" href="https://meddlehead.com"><img src="/static/img/{{ .Base.Config.Version }}/meddlehead-logo.png"></a>
        <a href="https://docs.yeetfile.com">Documentation</a>
        <a href="https://github.com/meddlehead/yeetfile">Source Code</a>
    </div>
    <div class="footer-elements footer-column">
        <span class="small-text">v{{ .Base.Config.Version }}</span>
        <a class="small-text" href="/">Server Info</a>
    </div>
</div>