{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
  <h1>Forgot Password</h1>
  <hr>
  <p>Enter the email address associated with your YeetFile account below.</p>
  <p>If you've set a password hint, it will be emailed to you.</p>
  <hr>
  <label for="email-address">Email Address:</label>
  <input name="email" id="email-address" type="text" value="{{ .Email }}">
  <input id="submit" type="submit" value="Submit">
  {{ template "messages.html" . }}
</div>
{{ template "footer.html" . }}
</body>