<div class="header">
  <div class="left">
    <a href="/"><img class="yeetfile-logo" alt="yeetfile logo"></a>
  </div>
  <div class="right">
    {{ if .Base.LoggedIn }}
      {{ if eq .Base.Page "pass" }}
      <a class="selected-page" href="{{.Base.Endpoints.Pass}}">Passwords</a>
      {{ else }}
      <a href="{{.Base.Endpoints.Pass}}">Passwords</a>
      {{ end }}

      {{ if eq .Base.Page "vault" }}
      <a class="selected-page" href="{{.Base.Endpoints.Vault}}">Files</a>
      {{ else }}
      <a href="{{.Base.Endpoints.Vault}}">Files</a>
      {{ end }}

      {{ if eq .Base.Page "send" }}
      <a class="selected-page" href="{{.Base.Endpoints.Send}}">Send</a>
      {{ else }}
      <a href="{{.Base.Endpoints.Send}}">Send</a>
      {{ end }}

      {{ if eq .Base.Page "account" }}
      <a class="selected-page" href="{{.Base.Endpoints.Account}}">Account</a>
      {{ else }}
      <a href="{{.Base.Endpoints.Account}}">Account</a>
      {{ end }}
    {{ else }}
      {{ if ne .Base.Config.MaxUserCount .Base.Config.CurrentUserCount }}
      <a href="{{.Base.Endpoints.Signup}}">Sign Up</a>
      {{ end }}
      <a href="{{.Base.Endpoints.Login}}">Log In</a>
    {{ end }}
  </div>
</div>
<div class="center-container">