<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/{{ .Base.Config.Version }}/favicon.ico">
    <link rel="stylesheet" href="/static/css/{{ .Base.Config.Version }}/main.css">
    <script src="/static/js/{{ .Base.Config.Version }}/db.js" type="module"></script>
    <script src="/static/js/{{ .Base.Config.Version }}/utils.js"></script>
    <script async src="/static/js/{{ .Base.Config.Version }}/argon2-bundled.min.js"></script>

    {{ range .Base.CSS }}
        <link rel="stylesheet" href="/static/css/{{ $.Base.Config.Version }}/{{ . }}">
    {{ end }}

    {{ range .Base.Javascript }}
        <script type="module" src="/static/js/{{ $.Base.Config.Version }}/{{ . }}"></script>
    {{ end }}

    <title>Yeetfile - {{ .Base.Title }}</title>
</head>
