{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
    <h1>Log In</h1>
    <hr>
    <input type="text" id="identifier" placeholder="Email / Account ID"><br>
    <input type="password" id="password" placeholder="Password"><br>
    <input type="submit" id="login-btn" value="Log In"/>
    <a href="/forgot">Forgot Password</a>

    <details>
        <summary>Advanced</summary>
        <label for="vault-pass-cb">Set session-specific Vault password:</label>
        <input type="checkbox" id="vault-pass-cb"><br>
    </details>

    {{ template "messages.html" . }}
</div>

{{ template "vault-password-dialog.html" true }}

{{ template "footer.html" . }}
</body>