{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
    <h1>Log In</h1>
    <hr>
    <input type="text" data-testid="identifier" id="identifier" placeholder="Email / Account ID"><br>
    <input type="password" data-testid="password" id="password" placeholder="Password"><br>
    <div>
        <input type="submit" data-testid="login-btn" id="login-btn" value="Log In"/>
        <img id="login-spinner" class="hidden vert-align-sub small-icon progress-spinner" src="/static/icons/progress.svg">
        <a id="forgot-password" href="{{ .Base.Endpoints.Forgot }}">Forgot Password</a>
    </div>

    <details data-testid="advanced-login-options">
        <summary>Advanced</summary>
        <label for="vault-pass-cb">Set session-specific Vault password:</label>
        <input data-testid="vault-pass-cb" type="checkbox" id="vault-pass-cb"><br>
    </details>

    {{ template "messages.html" . }}
</div>

{{ template "vault-password-dialog.html" true }}

{{ template "two-factor-dialog.html" }}

{{ template "footer.html" . }}
</body>