{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
    <h1>Send</h1>
    <hr class="accent-hr">
    <form id="upload-form">
        <fieldset id="form-fieldset">
            <div id="upload-type-div">
                <input type="radio" id="upload-text-btn" name="signup" checked>
                <label for="upload-text-btn">Upload Text</label><br>
                {{ if .Base.LoggedIn }}
                <input type="radio" data-testid="upload-file-btn" id="upload-file-btn" name="signup">
                <label for="upload-file-btn">Upload File(s)</label><br>
                {{ else }}
                <input type="radio" id="upload-file-btn" name="signup" disabled>
                <label for="upload-file-btn">Upload File (<a href="{{.Base.Endpoints.Signup}}">sign up</a>
                    or <a href="{{.Base.Endpoints.Login}}">log in</a>)</label><br>
                {{ end }}
            </div>

            <div class="grid-2-col">
                <div id="upload-content-div">
                    <div id="upload-text-row">
                        <label id="upload-text-label" for="upload-text-content">Text (0/2000):</label><br>
                        <textarea data-testid="upload-text-content" spellcheck="false" id="upload-text-content" class="full-width full-height" maxlength="2000"></textarea><br>
                    </div>
                    <div id="upload-file-row">
                        <label for="upload">File(s):</label><br>
                        <input data-testid="upload-file" id="upload" type="file"><br>
                    </div>
                </div>
                <div id="upload-details-div">
                    <div id="name-div">
                        <label for="name">Name:</label><br>
                        <input id="name" type="text" value="My Files"><br>
                    </div>

                    <label for="downloads">Downloads:</label><br class="hide-mobile">
                    <input data-testid="downloads" id="downloads" type="number" value="1"><br>

                    <label for="expiration">Expiration:</label><br class="hide-mobile">
                    <input data-testid="expiration" id="expiration" type="number">
                    <select id="duration-unit">
                        <option selected>Minutes</option>
                        <option>Hours</option>
                        <option>Days</option>
                    </select><br>

                    <label for="use-password">Protect with password:</label>
                    <input type="checkbox" data-testid="use-password" id="use-password" role="button"><br>

                    <div id="password-div">
                        <hr>
                        <table>
                            <tr>
                                <td>
                                    <label for="password">Password:</label>
                                </td>
                                <td>
                                    <input data-testid="password" id="password" autocomplete="off" type="password" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="confirm-password">Confirm:</label>
                                </td>
                                <td>
                                    <input data-testid="confirm-password" id="confirm-password" autocomplete="off" type="password" disabled>
                                </td>
                            </tr>
                        </table>
                        <label for="use-password">Show password:</label>
                        <input type="checkbox" id="show-password" role="button" disabled><br>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="align-items-right">
            <input data-testid="submit" id="submit" type="submit" value="Upload"/>
            <input id="reset" type="reset" value="Reset"/>
        </div>

        <div data-testid="file-tag-div" id="file-tag-div">
            <hr>
            <table id="file-tag-table">
                <tr>
                    <td><span id="link-label">Link:</span></td>
                </tr>
                <tr id="file-link-row">
                    <td><a data-testid="file-link" id="file-link" href=""></a></td>
                </tr>
                <tr>
                    <td><button id="copy-link" class="accent-btn">Copy Link</button></td>
                </tr>
            </table>
            <hr>
        </div>
    </form>

    {{ if and .Base.LoggedIn (gt .SendAvailable 0) }}
        <progress max="{{ .SendAvailable }}" value="{{ .SendUsed }}" id="send-bar"></progress>
        <span id="send-remaining">...</span>
        {{ if .ShowUpgradeLink }}
            — <a href="{{ .Base.Endpoints.Upgrade }}">Upgrade</a>
        {{ end }}
    {{ end }}
</div>
{{ template "footer.html" . }}
</body>
