{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
  <h1>Server Info</h1>
  <hr>
  <table>
    <tr>
      <td class="slightly-bold-text">Storage Backend:</td>
      <td>{{ .StorageBackend }}</td>
    </tr>
    <tr>
      <td class="slightly-bold-text">Base Vault Storage:</td>
      <td>{{ .DefaultStorage }}</td>
    </tr>
    <tr>
      <td class="slightly-bold-text">Base Send:</td>
      <td>{{ .DefaultSend }}</td>
    </tr>
    <tr>
      <td class="slightly-bold-text">Email Signup:</td>
      {{ if .EmailConfigured }}
      <td class="green-text">Enabled</td>
      {{ else }}
      <td>Not set up</td>
      {{ end }}
    </tr>
    {{ if .BillingEnabled }}
    <tr>
      <td class="slightly-bold-text">Billing:</td>
      <td class="green-text">Enabled</td>
    </tr>
    <tr>
      <td class="slightly-bold-text"> — Stripe:</td>
      {{ if .StripeEnabled }}
      <td class="green-text">Enabled</td>
      {{ else }}
      <td>Not set up</td>
      {{ end }}
    </tr>
    <tr>
      <td class="slightly-bold-text"> — BTCPay:</td>
      {{ if .BTCPayEnabled }}
      <td class="green-text">Enabled</td>
      {{ else }}
      <td>Not set up</td>
      {{ end }}
    </tr>
    {{ else }}
    <tr>
      <td class="slightly-bold-text">Billing:</td>
      <td>Not set up</td>
    </tr>
    {{ end }}
  </table>

  {{ if .HasRestrictions }}
    <hr class="half-hr">

    <ul class="padding-left-20">
      {{ if .PasswordRestricted }}
      <li class="red-text">Password Restricted Server</li>
      {{ end }}
      {{ if .MaxUserCountSet }}
      <li class="red-text">Max User Account Limited Server</li>
      {{ end }}
    </ul>
  {{ end }}

  {{ if .BillingEnabled }}
    <hr>
    <h2>Available Account Upgrades</h2>
    <i>Note: Payments are one-time payments and vault upgrades do not auto-renew. When upgrading your vault to a higher-tier
      plan, any unused value from your current plan will be applied to the new plan as a credit.</i>
    <br><br>
    {{ if .SendUpgrades }}
      <h3>Send Upgrades</h3><br>
      {{ range $i, $upgrade := .SendUpgrades }}
      <b>{{ $upgrade.Name }}:</b>
      <ul>
        <li>Add {{ $upgrade.ReadableBytes }} to YeetFile Send</li>
        <li>Never expires</li>
        <li>${{ $upgrade.Price }}</li>
      </ul>
      <hr>
      {{ end }}
    {{ end }}

    {{ if .VaultUpgrades }}
      <h3>Vault Upgrades</h3><br>
      {{ range $i, $upgrade := .VaultUpgrades }}
      <b>{{ $upgrade.Name }} {{ if $upgrade.Annual }} [Year] {{ else }} [Month] {{ end }}</b>
      <ul>
        <li>{{ $upgrade.ReadableBytes }}GB vault storage</li>
        <li>Unlimited password storage</li>
        <li>${{ $upgrade.Price }} x {{ if $upgrade.Annual }} year {{ else }} month {{ end }}</li>
      </ul>
      <hr>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
{{ template "footer.html" . }}
</body>