{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
    <h1>Create Account</h1>
    <hr>
    <fieldset id="signup-fieldset" style="border: 0;">
        <input data-testid="email-signup" type="radio" id="email-signup" name="signup" checked>
        <label for="email-signup">Email Address</label><br>
        <input data-testid="id-signup" type="radio" id="id-signup" name="signup">
        <label for="id-signup">Account ID Only</label><br>
        <hr>
        {{ if .ServerPasswordRequired }}
        <span>This server is password protected. Please enter the server password below
    to create an account.</span><br>
        <input type="password" id="server-password" placeholder="Server Password">
        <hr>
        {{ else }}
        <input type="password" id="server-password" placeholder="Server Password" hidden>
        {{ end }}
        <div data-testid="email-id-div" id="email-div">
            <table>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input type="text" id="email" name="email" placeholder="Email"></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" id="password" name="password" placeholder="Password"></td>
                </tr>
                <tr>
                    <td><label for="confirm-password">Confirm:</label></td>
                    <td><input type="password" id="confirm-password" placeholder="Confirm Password"></td>
                </tr>
            </table>
            <hr class="half-hr">
            <table>
                <tr><td><label for="password-hint">Password Hint (optional):</label></td></tr>
                <tr><td><input class="hint-input" type="text" id="password-hint" placeholder="Hint..."></td></tr>
                <tr id="hint-row"><td>
                    <span class="small-text">
                        Note: Passwords cannot be recovered if lost.
                        Setting a password hint is recommended. <br>Read more
                        <a href="https://docs.yeetfile.com/security/#losing-account-password">here.</a></span>
                </td></tr>
            </table>

            <input class="signup-btn" type="submit" id="create-email-account" value="Create Account"/>
        </div>
        <div data-testid="account-id-div" id="account-id-div">
            <table>
                <tr>
                    <td><label for="account-password">Password:</label></td>
                    <td><input data-testid="account-password" type="password" id="account-password" name="password" placeholder="Password"></td>
                </tr>
                <tr>
                    <td><label for="account-confirm-password">Confirm:</label></td>
                    <td><input data-testid="account-confirm-password" type="password" id="account-confirm-password" placeholder="Confirm Password"></td>
                </tr>
            </table>

            <span class="small-text">
                Note: By signing up with an account number only,
                you will be unable to recover your account if you
                ever lose your account number or your password.
            </span>
            <br>

            <input data-testid="create-id-only-account" class="signup-btn" type="submit" id="create-id-only-account" value="Create Account ID">
        </div>
    </fieldset>

    <div data-testid="account-id-verify" id="account-id-verify">
    </div>

    {{ template "messages.html" . }}
</div>
{{ template "footer.html" . }}
</body>
