{{ template "head.html" . }}
<body>
{{ template "header.html" . }}
<div id="center-div">
  <h1>Verify Email</h1>
  <hr>
  <p>A verification code has been sent to <b>{{.Email}}</b>, please enter it below.</p>
  <p>If you haven't received an email after a few minutes, check your spam folder.</p>
  <fieldset style="border: 0;" id="verify-fieldset">
    <input hidden id="email" type="text" name="email" value="{{.Email}}">
    <label for="verify">Code: <input id="verify" name="code" type="text" value="{{.Code}}"></label>
    <input id="submit-verify" type="submit" value="Submit">
  </fieldset>

  {{ template "messages.html" . }}
</div>
{{ template "footer.html" . }}
</body>