<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YeetFile</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/upload.css">
    <script src="/static/js/jszip.min.js"></script>
    <script src="/static/js/scrypt.min.js"></script>
    <script src="/static/js/nacl-fast.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/crypto.js"></script>
    <script src="/static/js/upload.js"></script>
</head>
<body>
<div id="upload-div">
    <form id="upload-form">
        <fieldset id="form-fieldset">
            <table>
                <tr>
                    <td>
                        <label for="upload">File(s):</label>
                    </td>
                    <td>
                        <input id="upload" type="file" webkitdirectory multiple>
                    </td>
                </tr>
                <tr style="display: none;" id="name-div">
                    <td>
                        <label for="name">Name:</label>
                    </td>
                    <td>
                        <input id="name" type="text" value="My Files">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="downloads">Downloads:</label>
                    </td>
                    <td>
                        <input id="downloads" type="number" value="1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="expiration">Expiration:</label>
                    </td>
                    <td>
                        <input id="expiration" type="number">
                        <select id="duration-unit">
                            <option selected>Minutes</option>
                            <option>Hours</option>
                            <option>Days</option>
                        </select>
                    </td>
                </tr>
            </table>
            <label for="use-password">Protect with password:</label>
            <input type="checkbox" id="use-password" role="button">
            <div id="password-div">
                <hr>
                <table>
                    <tr>
                        <td>
                            <label for="password">Password:</label>
                        </td>
                        <td>
                            <input id="password" type="password">
                        </td>
                    </tr>
                    <tr>
                       <td>
                           <label for="confirm-password">Confirm Password:</label>
                       </td>
                        <td>
                            <input id="confirm-password" type="password">
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>

        <input id="submit" type="submit" value="Upload"/>
        <input id="reset" type="reset" value="Reset"/>

        <div id="file-tag-div">
            <hr>
            <span>File Tag: </span>
            <span id="file-tag"></span><br>

            <span>Link: </span>
            <a id="file-link" href=""></a>
        </div>
    </form>
</div>
</body>
</html>