#center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 750px;
    max-height: 80%;
    overflow-y: auto;
    border: 1px solid;
    padding: 20px;
    box-sizing: border-box;
}

* {
    color: #3e3748;
    border-color: #C2B9D1 !important;
    border-radius: 5px;
}

details {
    cursor: pointer;
    margin: 10px;
}

h1 {
    margin: 0;
}

details:after {
    content: ' ';
    display: block;
    border: 0.5px dashed;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

summary {
    font-weight: bold;
    padding-bottom: 10px;
}

input {
    margin: 5px;
}

input:is([type="number"], [type="password"]) {
    background-color: transparent;
    border: 1px solid;
    padding: 5px;
}

input:is([type="button"], [type="submit"]) {
    background-color: #DFDBE5;
    border: 1px solid;
}

html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    /*background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
}

div {
    background-color: #DFDBE5;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    border-top: 1px solid;
    margin-top: 65px;
    width: 100%;
    min-height: 63px;
    border-radius: 5px 5px 0 0;
}

.footer a {
    margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
    * {
        color: #DFDBE5;
        border-color: #6A6477 !important;
    }
    html {
        background-color: #3e3748;
        /*#3e3748*/
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%239c92ac' fill-opacity='0.49' fill-rule='evenodd'/%3E%3C/svg%3E");
        /*background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239c92ac' fill-opacity='0.49' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
    }

    div {
        background-color: #3e3748;
    }

    input:is([type="button"], [type="submit"]) {
        background-color: transparent;
    }
}