#password-prompt-div {
    display: none;
}

#download-prompt-div {
    display: none;
}

#download-fieldset {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

#download-prompt-div table label {
    font-weight: bold;
}

#download-prompt-div table span {
    font-style: italic;
}

#plaintext-div {
    display: none;
}