#password-div {
    display: none;
}

#file-tag-div {
    display: none;
}

#use-password:checked + #password-div {
    display: block;
}

#reset {
    display: none;
}

#form-fieldset {
    border: none;
}