.account-div button {
    width: 300px;
    margin-top: 10px;
}

.upgrade-div, #subscription-div {
    display: grid;
    text-align: center;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

ul {
    text-align: left;
}

.upgrade-container h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pricing-box {
    background: var(--card-bg-color);
    border-radius: 5px;
    margin: 0 5px 5px 5px;
    padding: 0 5px 5px 5px;
}

.pricing-box h3 {
    border-bottom: 1px solid var(--light-border) !important;
    border-radius: 0 !important;
    margin-top: 5px;
}

.col-0 {
    grid-column-start: 1;
}

.col-1 {
    grid-column-start: 2;
}

.col-2 {
    grid-column-start: 3;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

.account-table td:nth-child(2) {
    text-align: end;
}

.payment-btn {
    color: white;
    width: 100%;
    margin: 0 0 5px 0;
    height: 40px;
}

.disabled-upgrade {
    opacity: 0.3;
}

.stripe-btn {
    background-color: var(--accent-color);
}

.btcpay-btn {
    background-color: #323232;
}

.btcpay-icon {
    vertical-align: middle;
    margin: 0 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.btc-icon {
    background-image: url(/static/icons/btc.svg);
}

.xmr-icon {
    background-image: url(/static/icons/xmr.svg);
}

details {
    margin-left: 0;
}

details::after {
    border: 0;
}

.upgrade-container, .subscription-container {
    display: flex;
    align-items: center;
}

.radio-group {
    margin-left: 15px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--card-bg-color);
    border: 1px solid;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.radio-group input[type="radio"]:checked + label, #permanent-toggle {
    background-color: var(--accent-color);
    color: white !important;
}

.radio-group input[type="radio"]:checked + label > a {
    color: white;
}

label a {
    text-decoration: none;
}

.checkout-row {
    position: sticky;
    background-color: var(--accent-color);
    bottom: 0;
    width: 100%;
}

.checkout-div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.checkout-div * {
    align-content: center;
}

.btcpay-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (orientation: portrait) {
    .auto-width {
        width: auto !important;
    }

    #center-div {
        width: 95% !important;
        max-height: 82% !important;
    }

    .account-div button {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .pricing-box {
        margin-bottom: 15px;
        border: 1px solid var(--light-border) !important;
    }

    .upgrade-container, .subscription-container {
        display: block;
    }

    .radio-group {
        margin: 0 0 10px 5px;
    }

    .upgrade-div, #subscription-div {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .col-0 {
        grid-row: 1;
        grid-column-start: 1;
    }

    .col-1 {
        grid-row: 2;
        grid-column-start: 1;
    }

    .col-2 {
        grid-row: 3;
        grid-column-start: 1;
    }

    .payment-btn {
        height: 50px;
    }
}

@media (prefers-color-scheme: dark) {
    .btcpay-btn {
        background-color: #171720;
    }
}