#account-id-div {
    display: none;
}

#email-div {
    display: inherit;
}

#email-address {
    margin-left: 0;
}

fieldset {
    width: 100%;
    min-width: 100px;
    display: inline-block;
}

table input {
    margin: 2px;
    width: 100%;
}

.signup-btn {
    margin-left: 2px;
}

.hint-input {
    margin-left: 0;
    width: 100%;
    max-width: unset;
}

#account-id-verify {
    display: none;
}

#account-code {
    margin-left: 0;
}

#verify-note {
    margin-bottom: 0;
}

#center-div {
    width: 50%;
    max-width: 600px;
}

@media (max-width:425px) {
    table tr {
        display: flex;
        flex-direction: column;
    }

    input {
        margin-left: 0;
        width: 100%;
        max-width: unset;
    }
}