#file-tag-div {
    display: none;
}

#use-password:checked + #password-div {
    display: block;
}

#reset {
    display: none;
}

#form-fieldset {
    border: none;
}

#name-div {
    display: none;
}

a {
    word-break: break-all
}

#upload-type-div {
    border-bottom: 2px dotted gray !important;
    border-radius: 0 !important;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#file-tag-table {
    width: 100%;
}

#file-link-row {
    margin-bottom: 10px
}

#upload-file-row {
    display: none;
}

label {
    padding-left: 5px;
}

@media (max-width:768px) {
    #expiration {
        width: 100px;
    }
}

@media (max-width:425px) {
    #password-div {
        display: none;
    }

    #downloads, #expiration {
        width: 60px;
    }

    #downloads {
        padding-right: 5px;
    }

    .hide-mobile {
        display: none;
    }
}