#file-tag-div {
    display: none;
}

#use-password:checked + #password-div {
    display: block;
}

#reset {
    display: none;
}

#form-fieldset {
    border: none;
}

#upload-type-div {
    border-bottom: 2px dotted gray !important;
    border-radius: 0 !important;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#upload-file-row {
    display: none;
}

@media (max-width:768px) {
    #expiration {
        width: 100px;
    }
}