#center-div {
    max-width: 1000px;
}

#vault-items-div, #vault-file-div {
    overflow-y: auto;
    margin-top: 20px;
}

#vault-items-div {
    height: 500px;
}

#vault-file-div {
    height: 50vh;
}

#pdf-canvas {
    display: block;
}

#canvas-div {
    display: flex !important;
    justify-content: center;
}

#canvas-div * {
    padding: 5px;
    margin: 5px !important;
}

#vault-table tr, #vault-table td, #vault-table td * {
    vertical-align: middle;
}

thead > tr > th {
    position: sticky;
    top: 0;
    background-color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#vault-table th, #vault-table td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#vault-table td span {
    line-height: 25px;
}

#new-password-table th, #new-password-table td {
    padding: 2px;
}

#password-generator-dialog pre {
    margin-top: 0;
}

#generated-password {
    font-size: x-large;
}

th, td {
    text-align: left;
    z-index: 10;
}

tr:last-child td {
    border-bottom: none;
}

.blank-row {
    height: 39px !important;
}

.folder-link {
    color: var(--accent-color);
}

.shared-link {
    color: var(--shared-color);
}

.action-icon {
    text-align: center;
    cursor: pointer;
}

.action-icon:hover {
    font-weight: bold;
}

.edit-row {
    display: flex;
    height: 20px;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.edit-row img {
    padding-right: 5px;
}

.edit-row:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.shared-with-div {
    display: inline;
}

#item-bar {
    display: none;
    accent-color: black;
}

#vault-message {
    display: inline-flex;
    align-items: center;
}

#vault-file-div * {
    max-width: 100%;
    display: block;
    margin: auto;
}

#vault-file-div audio {
    margin-top: 10px;
    width: 100%;
}

#vault-file-content, #vault-file-content iframe {
    width: 100%;
    height: 100%;
}

#password-dialog textarea {
    height: 180px;
}

#password-dialog input[type=text] input[type=password] {
    width: 500px;
}

#password-dialog input:disabled, textarea:disabled {
    background-color: darkgrey;
    color: #212121;
}

pre {
    background-color: #f0f0f0;
    padding: 5px;
    margin-right: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
    a {
        text-decoration: none;
    }

    .edit-row img {
        filter: invert(100%);
    }

    thead > tr > th {
        background-color: #312F43;
        color: white;
    }

    th, td {
        border-color: #171720;
    }

    pre {
        background-color: #171720;
    }

    .folder-link {
        color: white;
    }
}

@media (max-width:425px) {
    #vault-items-div {
        height: 230px;
    }

    #center-div {
        height: 700px;
    }


    #vault-items-div, #vault-file-div {
        height: 500px;
    }
}
